/*
    Dark theme: 
    --prim-color: #414141;
    --secondary-color: #CDCDCD;
    --dark-color: #010101;
    --light-color: #1A1B1B;
    --active-color: #C4484B;
*/

window {
    background-color: #333333;
    font-family: Andale Mono, monospace;
}

#root {
    margin-top: 15px;
    margin-bottom: 15px;
}
#root > * {
    margin: 0 20px;
}

#title {
    font-size: xx-large;
    font-weight: 100;
    margin: 0 -20px 0 0;
    border-bottom: 1px solid #C4C4C4;
}

label {
    color: #C4C4C4;
}

button {
    font-size: 22px;
    background: #010101;
    padding: 2px 20px;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    outline: none;
}
button:hover {background-color: #1A1B1B;}
button:active {background-color: #C4484B;}
button:disabled {border: none;}

entry {
    color: #939797;
    caret-color: #939797;
    background: #010101;
    padding: 5px 15px;
    border: none;
    box-shadow: none;
}
entry selection {
    background: #C4484B;
}

#titleBar button {
    margin: 0;
    padding: 0 5px;
    border-radius: 0;
    font-size: 16px;
}

#logOutput {
    padding: 0 20px;
    border-top: 1px solid #1E1E1E;
}

#runSteps {
    border: 1px solid #010101;
    border-radius: 100px;
}
#runSteps entry {
    background: transparent;
    padding: 1px 5px 1px 10px;
    border: none;
}
#runSteps button {
    padding: 1px 6px;
}

#pictureBtn {
    padding: 1px 6px;
}

#config box entry {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #C4484B;
    caret-color: #C4484B;
}

#config box button {
    padding: 0;
    background-color: transparent;
    color: #C4484B;
}
#config box button label {
    color: #C4484B;
}

tooltip {
    font-size: 20px;
    border: none;
    border-radius: 0;
}

textview {
    padding: 0;
    font-size: medium;
    background: transparent;
    caret-color: #C4C4C4;
}
textview text {
    background: transparent;
    color: #939797;
}
textview text selection {
    background: #C4484B;
}

scrolledwindow undershoot, scrolledwindow overshoot {
    background: none;
}

#configTitle, #aboutTitle {
    font-size: medium;
    padding-bottom: 5px;
}
#about {
    font-size: small;
    background: #010101;
    margin: 0;
    padding: 10px 20px;
}
